<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<!--===============================
=            Navbar               =
================================-->

<section th:fragment="navbar-fragment">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light navigation">
                    <a class="navbar-brand" th:href="@{/}" href="../index.html">
                        <img src="../../static/images/logo.png" th:src="@{/images/logo.png}" width="40%" height="40%"
                             alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto main-nav ">
                            <li class="nav-item active">
                                <a class="nav-link" th:href="@{/}" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item dropdown dropdown-slide" th:if="${isAuthenticated}">
                                <a class="nav-link dropdown-toggle" th:href="@{/dashboard}" data-toggle="dropdown"
                                   href="">Dashboard<span><i class="fa fa-angle-down"></i></span>
                                </a>

                                <!-- Dropdown list -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" th:href="@{/dashboard}"
                                       href="../dashboard.html">Dashboard</a>
                                    <a class="dropdown-item" th:href="@{/dashboard/pending}"
                                       href="../dashboard-pending.html">Pending Addons</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown dropdown-slide">
                                <a class="nav-link dropdown-toggle" th:href="@{/addons}" href="" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Addons <span><i class="fa fa-angle-down"></i></span>
                                </a>
                                <!-- Dropdown list -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" th:href="@{/addons}" href="../addons.html">All Addons</a>
                                    <!--                                    <a class="dropdown-item" th:href="@{addon-list-view.html}" href="addon-list-view.html">Addon-List View</a>-->
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto mt-10">
                            <li class="nav-item" th:unless="${isAuthenticated}">
                                <a class="nav-link login-button" th:href="@{/login}" href="../login.html">Login</a>
                            </li>
                            <li class="nav-item" th:unless="${isAuthenticated}">
                                <a class="nav-link login-button" th:href="@{/register}"
                                   href="../register.html">Register</a>
                            </li>
                            <li class="nav-item" th:if="${isAuthenticated}">
                                <a class="nav-link login-button" th:href="@{/logout}" href="../login.html">Logout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white add-button" th:if="${isAuthenticated}"
                                   th:href="@{/addons/new}" href="../addon-new.html"><i class="fa fa-plus-circle"></i>Add
                                    Addon</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
</body>
</html>