<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="page-search" id="search" th:fragment="search-bar-fragment">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Advance Search -->
                <div class="advance-search">
                    <form method="post" th:action="@{/addons/filter}" th:object="${filterAddonDto}">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control my-2 my-lg-1" id="inputtext4"
                                       placeholder="Search addons by name" th:field="*{addonName}">
                            </div>
                            <div class="form-group col-md-3">
                                <select class="w-100 form-control mt-lg-1 mt-md-2" th:field="*{ideId}">
                                    <option th:value="-1">Filter by IDE</option>
                                    <option th:each="ide : ${ides}" th:text="${ide.getName()}" th:value="${ide.getId()}"
                                            value="1">Name
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <select class="w-100 form-control mt-lg-1 mt-md-2" th:field="*{sortParams}">
                                    <option th:value="default">Sort by...</option>
                                    <option th:each="sortParam : ${sortParams}" th:text="${sortParam}"
                                            th:value="${sortParam}">Sort by...
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">

                                <button type="submit" class="btn btn-primary">Search Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>