<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Widget User Dashboard</title>
</head>
<body>
<section th:fragment="widget-user-dashboard">

    <div class="widget user-dashboard-menu">
        <ul>


            <div th:if="${#httpServletRequest.requestURI == '/dashboard'}">
                <li class="active">
                    <a href="../dashboard-my-ads.html" th:href="@{/dashboard}">
                        <i class="fa fa-upload"></i> My Addons <span th:text="${numberOfAddonsForUser}"></span>
                    </a>
                </li>
            </div>
            <div th:unless="${#httpServletRequest.requestURI == '/dashboard'}">
                <li>
                    <a href="../dashboard-my-ads.html" th:href="@{/dashboard}">
                        <i class="fa fa-upload"></i> My Addons <span th:text="${numberOfAddonsForUser}"></span>
                    </a>
                </li>
            </div>


            <div th:if="${#httpServletRequest.requestURI == '/dashboard/all-addons'}">
                <li th:if="${isCurrentUserAdmin}" class="active">
                    <a href="../dashboard-my-ads.html" th:href="@{/dashboard/all-addons}">
                        <i class="fa fa-globe"></i> All Addons <span th:text="${numberOfAllAddons}"></span>
                    </a>
                </li>
            </div>
            <div th:unless="${#httpServletRequest.requestURI == '/dashboard/all-addons'}">
                <li th:if="${isCurrentUserAdmin}">
                    <a href="../dashboard-my-ads.html" th:href="@{/dashboard/all-addons}">
                        <i class="fa fa-globe"></i> All Addons <span th:text="${numberOfAllAddons}"></span>
                    </a>
                </li>
            </div>


            <div th:if="${#httpServletRequest.requestURI == '/dashboard/pending'}">
                <li class="active">
                    <a th:href="@{/dashboard/pending}" href="../dashboard-pending.html">
                        <i class="fa fa-pause-circle"></i> Pending Approval<span
                            th:text="${numberOfPendingForUser}">0</span>
                    </a>
                </li>
            </div>
            <div th:unless="${#httpServletRequest.requestURI == '/dashboard/pending'}">
                <li>
                    <a th:href="@{/dashboard/pending}" href="../dashboard-pending.html">
                        <i class="fa fa-pause-circle"></i> Pending Approval<span
                            th:text="${numberOfPendingForUser}">0</span>
                    </a>
                </li>
            </div>


            <div th:if="${#httpServletRequest.requestURI == '/dashboard/users'}">
                <li th:if="${isCurrentUserAdmin}" class="active">
                    <a href="../dashboard-my-ads.html" th:href="@{/dashboard/users}">
                        <i class="fa fa-user"></i> All Users <span th:text="${users.size()}">0</span>
                    </a>
                </li>
            </div>
            <div th:unless="${#httpServletRequest.requestURI == '/dashboard/users'}">
                <li th:if="${isCurrentUserAdmin}">
                    <a href="../dashboard-my-ads.html" th:href="@{/dashboard/users}">
                        <i class="fa fa-user"></i> All Users <span th:text="${users.size()}">0</span>
                    </a>
                </li>
            </div>


            <li>
                <a th:href="@{/logout}" href="#">
                    <i class="fa fa-sign-out"></i> Logout
                </a>
            </li>

            <li>
                <a th:href="@{/users/{username}/delete(username=${session.currentUser})}" data-toggle="modal"
                   data-target="#deleteaccount">
                    <i class="fa fa-power-off"></i>Delete Account
                </a>
            </li>
        </ul>
    </div>
</section>
</body>
</html>