<!DOCTYPE html>
<html lang="en">
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classimax</title>

    <!-- FAVICON -->
    <link href="../static/images/favicon.png" th:href="@{../images/favicon.png}" rel="shortcut icon">
    <!-- PLUGINS CSS STYLE -->
    <!--   <link href="../static/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css"
          th:href="@{../plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap-slider.css"
          th:href="@{../plugins/bootstrap/css/bootstrap-slider.css}">
    <!-- Font Awesome -->
    <link href="../static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          th:href="@{../plugins/font-awesome/css/font-awecome.min.css}">
    <!-- Owl Carousel -->
    <link href="../static/plugins/slick-carousel/slick/slick.css" rel="stylesheet"
          th:href="@{../plugins/slick-carousel/slick/slick.css}">
    <link href="../static/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet"
          th:href="@{../plugins/slick-carousel/slick/slick-theme.css}">
    <!-- Fancy Box -->
    <link href="../static/plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet"
          th:href="@{../plugins/fancybox/jquery.fancybox.pack.css}">
    <link href="../static/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet"
          th:href="@{../plugins/jquery-nice-select/css/nice-select.css}">
    <!-- CUSTOM CSS -->
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{../css/style.css}">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
            th:href="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
            th:href="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->

</head>

<body class="body-wrapper">

<!--===============================
=            Navbar               =
================================-->

<div th:replace="fragments/navbar.html :: navbar-fragment"></div>

<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mx-auto">
                <div class="404-img">
                    <img src="images/404/404.png" class="img-fluid" alt="">
                </div>
                <div class="404-content">
                    <h1 class="display-1 pt-1 pb-2">Oops</h1>
                    <p class="px-3 pb-2 text-dark">Something went wrong,we can't find the page that you are looking for
                        :(But there is a lot more for you!</p>
                    <a href="index.html" class="btn btn-info">GO HOME</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--============================
=            Footer            =
=============================-->

<footer class="footer section section-sm">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
                <!-- About -->
                <div class="block about">
                    <!-- footer logo -->
                    <img src="images/logo-footer.png" alt="">
                    <!-- description -->
                    <p class="alt-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 offset-lg-1 col-md-3">
                <div class="block">
                    <h4>Site Pages</h4>
                    <ul>
                        <li><a href="#">Boston</a></li>
                        <li><a href="#">How It works</a></li>
                        <li><a href="#">Deals & Coupons</a></li>
                        <li><a href="#">Articls & Tips</a></li>
                        <li><a href="terms-condition.html">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0">
                <div class="block">
                    <h4>Admin Pages</h4>
                    <ul>
                        <li><a href="addons.html">Category</a></li>
                        <li><a href="addon.html">Single Page</a></li>
                        <li><a href="store.html">Store Single</a></li>
                        <li><a href="single-blog.html">Single Post</a>
                        </li>
                        <li><a href="blog.html">Blog</a></li>


                    </ul>
                </div>
            </div>
            <!-- Promotion -->
            <div class="col-lg-4 col-md-7">
                <!-- App promotion -->
                <div class="block-2 app-promotion">
                    <div class="mobile d-flex">
                        <a href="">
                            <!-- Icon -->
                            <img src="images/footer/phone-icon.png" alt="mobile-icon">
                        </a>
                        <p>Get the Dealsy Mobile App and Save more</p>
                    </div>
                    <div class="download-btn d-flex my-3">
                        <a href="#"><img src="images/apps/google-play-store.png" class="img-fluid" alt=""></a>
                        <a href="#" class=" ml-3"><img src="images/apps/apple-app-store.png" class="img-fluid"
                                                       alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</footer>
<!-- Footer Bottom -->
<div th:replace="fragments/footer.html :: footer"></div>


</body>

</html>