<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grid View</title>

    <!-- FAVICON -->
    <link href="../static/images/favicon.png" th:href="@{../images/favicon.png}" rel="shortcut icon">
    <!-- PLUGINS CSS STYLE -->
    <!--   <link href="../static/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css"
          th:href="@{../plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap-slider.css"
          th:href="@{../plugins/bootstrap/css/bootstrap-slider.css}">
    <!-- Font Awesome -->
    <link href="../static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          th:href="@{../plugins/font-awesome/css/font-awecome.min.css}">
    <!-- Owl Carousel -->
    <link href="../static/plugins/slick-carousel/slick/slick.css" rel="stylesheet"
          th:href="@{../plugins/slick-carousel/slick/slick.css}">
    <link href="../static/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet"
          th:href="@{../plugins/slick-carousel/slick/slick-theme.css}">
    <!-- Fancy Box -->
    <link href="../static/plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet"
          th:href="@{../plugins/fancybox/jquery.fancybox.pack.css}">
    <link href="../static/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet"
          th:href="@{../plugins/jquery-nice-select/css/nice-select.css}">
    <!-- CUSTOM CSS -->
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{../css/style.css}">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
            th:href="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
            th:href="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->

</head>

<body class="body-wrapper">

<!--===============================
=            Navbar               =
================================-->

<div th:replace="fragments/navbar.html :: navbar-fragment"></div>

<div th:replace="fragments/search-bar.html :: search-bar-fragment"></div>

<section class="section-sm">
    <div class="container">
        <div class="row">
            <div th:if="${query != null}" class="col-md-12">
                <div class="search-result bg-gray">
                    <h2 th:text="'Results for ' + ${query}">Results For...</h2>
                    <p th:text="'Number of results: ' + ${numberOfResults}">Number of results</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="category-search-filter">
                    <div>
                        <h4 class="widget-header"><a th:href="@{/addons/showFeatured}"
                                                     class="btn btn-main-sm col-md-12">Show Featured Addons</a></h4>
                    </div>
                </div>
            </div>


            <div class="col-md-9">

                <!-- GRID -->

                <div class="product-grid-list">
                    <div class="row mt-30">
                        <div th:unless="${addons == null}" th:each="addon : ${addons}"
                             class="col-sm-12 col-lg-4 col-md-6">
                            <!-- product card -->
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">

                                        <!-- IDE IMAGE -->

                                        <a th:href="@{'/addons/' + ${addon.getNameForLink()}}" href="#">
                                            <th:block th:switch="${addon.getIde().getName()}">
                                                <div th:case="'IntelliJ IDEa'">
                                                    <span class="icon-icons8-intellij-idea grid-icon align-self-center"></span>
                                                </div>
                                                <div th:case="'Microsoft VS Code'">
                                                    <span class="icon-icons8-visual-studio-logo grid-icon align-self-center"></span>
                                                </div>
                                                <div th:case="'Net Beans'">
                                                    <span class="icon-icons8-netbeans grid-icon align-self-center"></span>
                                                </div>
                                                <div th:case="'Eclipse'">
                                                    <span class="icon-icons8-java-eclipse grid-icon align-self-center"></span>
                                                </div>
                                                <div th:case="'XCode'">
                                                    <span class="icon-icons8-xcode grid-icon align-self-center"></span>
                                                </div>
                                            </th:block>
                                        </a>

                                    </div>


                                    <div class="card-body">
                                        <h4 class="card-title"><a href="#" th:text="${addon.getName()}"
                                                                  th:href="@{'/addons/' + ${addon.getNameForLink()}}">Addon
                                            Name</a></h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="#" th:text="${addon.getIde().getName()}"><i
                                                        class="fa fa-folder-open-o"></i>IDE</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#"><i class="downloads"
                                                               th:text="${addon.getNumberOfDownloads()} + ' downloads'"></i></a>
                                            </li>
                                        </ul>
                                        <p class="card-text" th:text="${addon.getDescription()}">Addon Description</p>
                                        <div class="product-ratings">
                                            <ul class="list-inline">
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-12 col-lg-4 col-md-6">


                        </div>
                    </div>
                </div>
                <div class="pagination justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>


        </div>
    </div>
</section>
<!--============================
=            Footer            =
=============================-->
<!-- Footer Bottom -->
<div th:replace="fragments/footer.html :: footer"></div>


</body>

</html>