<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${addon.getName()}">Addon Name</title>

    <!-- FAVICON -->
    <link href="../static/images/favicon.png" th:href="@{../images/favicon.png}" rel="shortcut icon">
    <!-- PLUGINS CSS STYLE -->
    <!--   <link href="../static/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css"
          th:href="@{../plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap-slider.css"
          th:href="@{../plugins/bootstrap/css/bootstrap-slider.css}">
    <!-- Font Awesome -->
    <link href="../static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          th:href="@{../plugins/font-awesome/css/font-awecome.min.css}">
    <!-- Owl Carousel -->
    <link href="../static/plugins/slick-carousel/slick/slick.css" rel="stylesheet"
          th:href="@{../plugins/slick-carousel/slick/slick.css}">
    <link href="../static/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet"
          th:href="@{../plugins/slick-carousel/slick/slick-theme.css}">
    <!-- Fancy Box -->
    <link href="../static/plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet"
          th:href="@{../plugins/fancybox/jquery.fancybox.pack.css}">
    <link href="../static/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet"
          th:href="@{../plugins/jquery-nice-select/css/nice-select.css}">
    <!-- CUSTOM CSS -->
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{../css/style.css}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}" rel="stylesheet"
          type="text/css"/>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
            th:href="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
            th:href="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->

</head>

<body class="body-wrapper">

<!--===============================
=            Navbar               =
================================-->

<div th:replace="fragments/navbar.html :: navbar-fragment"></div>

<div th:replace="fragments/search-bar.html :: search-bar-fragment"></div>

<!--===================================
=            Store Section            =
====================================-->
<section class="section bg-gray">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <!-- Left sidebar -->
            <div class="col-md-8">
                <div class="product-details">
                    <h1 class="product-title" th:text="${addon.getName()}">Addon Name</h1>
                    <div class="product-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-user-o"></i> Uploaded By: <a
                                    th:text="${addon.getCreatedBy().getUsername()}"
                                    th:href="@{/users/{username}(username=${addon.getCreatedBy().getUsername()})}">Username</a>
                            </li>
                            <li class="list-inline-item"><i class="fa fa-folder-open-o"></i> IDE: <a
                                    th:href="@{/addons/{name}(name = ${addon.getNameForLink()})}"
                                    th:text="${addon.getIde().getName()}">IDE</a>
                            </li>
                            <li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Uploaded on: <span
                            ><strong th:text="${addon.getUploadDate()}">Date</strong></span>
                            </li>
                        </ul>
                    </div>

                    <!-- product slider -->
                    <div class="product-slider image d-flex justify-content-center" id="single">
                        <a th:href="@{'/addons/' + ${addon.getNameForLink()} + '/downloadFile'}"
                           href="#">
                            <th:block th:switch="${addon.getIde().getName()}">
                                <div th:case="'IntelliJ IDEa'">
                                    <span class="icon-icons8-intellij-idea grid-icon-single align-self-center"></span>
                                </div>
                                <div th:case="'Microsoft VS Code'">
                                    <span class="icon-icons8-visual-studio-logo grid-icon-single align-self-center"></span>
                                </div>
                                <div th:case="'Net Beans'">
                                    <span class="icon-icons8-netbeans grid-icon-single align-self-center"></span>
                                </div>
                                <div th:case="'Eclipse'">
                                    <span class="icon-icons8-java-eclipse grid-icon-single align-self-center"></span>
                                </div>
                                <div th:case="'XCode'">
                                    <span class="icon-icons8-xcode grid-icon-single align-self-center"></span>
                                </div>
                            </th:block>
                        </a>
                    </div>

                    <!-- product slider -->

                    <div class="content mt-5 pt-5">
                        <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                   role="tab" aria-controls="pills-home"
                                   aria-selected="true">Addon Description</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                 aria-labelledby="pills-home-tab">
                                <h3 class="tab-title">Addon Description</h3>
                                <p th:text="${addon.getDescription()}">Description</p>
                            </div>
                            <br/>
                            <div class="tab-pane fade show active" role="tabpanel"
                                 aria-labelledby="pills-home-tab">
                                <h3 class="tab-title">Last Commit: <span
                                        th:text="${addon.getLastCommitDate()}">Date</span></h3>
                                <p th:text="${addon.getLastCommitMessage()}">Commit Message</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="sidebar">
                    <div class="widget user text-center">
                        <img class="rounded-circle img-fluid mb-5 px-5"
                             src="https://icon-library.com/images/generic-user-icon/generic-user-icon-18.jpg"
                             alt="">
                        <h4 th:if="${isCurrentUserAdmin}"><a
                                th:href="@{'/users/' + ${addon.getCreatedBy().getUsername()}}"
                                th:text="${addon.getCreatedBy().getUsername()}">Creator</a></h4>
                        <h4 th:unless="${isCurrentUserAdmin}"><span th:text="${addon.getCreatedBy().getUsername()}">Creator</span>
                        </h4>
                    </div>
                    <div class="widget price text-center">
                        <h4>Downloads:</h4>
                        <p th:text="${addon.getNumberOfDownloads()}">Count</p>
                        <br/>
                        <h4>Open Issues:</h4>
                        <p th:text="${addon.getOpenIssuesCount()}">Count</p>
                        <br/>
                        <h4>Pull Requests:</h4>
                        <p th:text="${addon.getPullRequestsCount()}">Count</p>
                    </div>
                    <!-- User Profile widget -->

                </div>
            </div>

        </div>
    </div>
    <!-- Container End -->
</section>
<!--============================
=            Footer            =
=============================-->
<!-- Container End -->
</footer>
<!-- Footer Bottom -->
<div th:replace="fragments/footer.html :: footer"></div>


</body>

</html>