<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Addons</title>

    <!-- FAVICON -->
    <link href="../static/images/favicon.png" th:href="@{../images/favicon.png}" rel="shortcut icon">
    <!-- PLUGINS CSS STYLE -->
    <!--   <link href="../static/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css"
          th:href="@{../plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap-slider.css"
          th:href="@{../plugins/bootstrap/css/bootstrap-slider.css}">
    <!-- Font Awesome -->
    <link href="../static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          th:href="@{../plugins/font-awesome/css/font-awecome.min.css}">
    <!-- Owl Carousel -->
    <link href="../static/plugins/slick-carousel/slick/slick.css" rel="stylesheet"
          th:href="@{../plugins/slick-carousel/slick/slick.css}">
    <link href="../static/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet"
          th:href="@{../plugins/slick-carousel/slick/slick-theme.css}">
    <!-- Fancy Box -->
    <link href="../static/plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet"
          th:href="@{../plugins/fancybox/jquery.fancybox.pack.css}">
    <link href="../static/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet"
          th:href="@{../plugins/jquery-nice-select/css/nice-select.css}">
    <!-- CUSTOM CSS -->
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{../css/style.css}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}" rel="stylesheet"
          type="text/css"/>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
            th:href="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
            th:href="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->

</head>

<body class="body-wrapper">

<!--===============================
=            Navbar               =
================================-->

<div th:replace="fragments/navbar.html :: navbar-fragment"></div>

<!--==================================
=            User Profile            =
===================================-->
<section class="dashboard section">
    <!-- Container Start -->
    <div class="container">
        <!-- Row Start -->
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                <div class="sidebar">
                    <!-- User Widget -->
                    <div class="widget user-dashboard-profile">
                        <!-- User Image -->
                        <div class="profile-thumb">
                            <img src="https://icon-library.com/images/generic-user-icon/generic-user-icon-18.jpg"
                                 class="rounded-circle">
                        </div>
                        <!-- User Name -->
                        <h5 class="text-center" th:text="${session.currentUser}">Username</h5>
                        <a href="user.html" th:href="@{/users/{username}(username = ${session.currentUser})}"
                           class="btn btn-main-sm">Edit Profile</a>
                    </div>
                    <!-- Dashboard Links -->
                    <div th:replace="fragments/widget-user-dashboard.html :: widget-user-dashboard"></div>

                    <!-- delete-account modal -->
                    <!-- delete account popup modal start-->
                    <!-- Modal -->
                    <div class="modal fade" id="deleteaccount" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header border-bottom-0">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <img src="images/account/Account1.png" class="img-fluid mb-2" alt="">
                                    <h6 class="py-2">Are you sure you want to delete your account?</h6>
                                    <p>Do you really want to delete these records? This process cannot be undone.</p>
                                    <textarea name="message" id="" cols="40" rows="4" class="w-100 rounded"></textarea>
                                </div>
                                <div class="modal-footer border-top-0 mb-3 mx-5 justify-content-lg-between justify-content-center">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- delete account popup modal end-->
                    <!-- delete-account modal -->

                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">


                <!-- Recently Favorited -->


                <div class="widget dashboard-container my-adslist">
                    <h3 class="widget-header">My Addons</h3>
                    <table class="table table-responsive product-dashboard-table">
                        <thead>
                        <tr>
                            <th>IDE Logo</th>
                            <th>Addon Name</th>
                            <th class="text-center">IDE</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <!--SINGLE ADDON-->

                        <tr th:each="addon : ${addons}">

                            <td class="product-thumb">
                                <a th:href="@{'/addons/' + ${addon.getName}}" href="#">
                                    <th:block th:switch="${addon.getIde().getName()}">
                                        <div th:case="'IntelliJ IDEa'">
                                            <span class="icon-icons8-intellij-idea grid-icon align-self-center"></span>
                                        </div>
                                        <div th:case="'Microsoft VS Code'">
                                            <span class="icon-icons8-visual-studio-logo grid-icon align-self-center"></span>
                                        </div>
                                        <div th:case="'Net Beans'">
                                            <span class="icon-icons8-netbeans grid-icon align-self-center"></span>
                                        </div>
                                        <div th:case="'Eclipse'">
                                            <span class="icon-icons8-java-eclipse grid-icon align-self-center"></span>
                                        </div>
                                        <div th:case="'XCode'">
                                            <span class="icon-icons8-xcode grid-icon align-self-center"></span>
                                        </div>
                                    </th:block>
                                </a>
                            </td>

                            <td class="product-details">
                                <h3 class="title" th:text="${addon.getName()}">Addon Name</h3>

                                <span class="add-id">
                    <strong>Downloads:</strong><a th:text="${addon.getNumberOfDownloads()}"></a>
                  </span>

                                <span>
                    <strong>Uploaded on: </strong><time th:text="${addon.getUploadDate().toString()}">Date</time>
                  </span>

                                <span class="status active" th:if="${addon.isApproved()}"><strong>Status:</strong>Approved</span>
                                <span class="status active" id="inactive" th:unless="${addon.isApproved()}"><strong>Status:</strong> Pending Approval</span>


                                <span class="location">
                    <strong>Rating</strong>Insert
                  </span>
                            </td>

                            <td class="product-category"><span class="categories" th:text="${addon.getIde().getName()}">IDE</span>
                            </td>
                            <td class="action" data-title="Action">
                                <div class="">
                                    <ul class="list-inline justify-content-center">


                                        <!--										<li class="list-inline-item">-->
                                        <!--											<a data-toggle="tooltip" data-placement="top" title="View" class="edit"-->
                                        <!--											   href=""-->
                                        <!--											   th:href="@{'/addons/' + ${addon.getName()}}">-->
                                        <!--												<i class="fa fa-eye"></i>-->
                                        <!--											</a>-->
                                        <!--										</li>-->


                                        <li class="list-inline-item">
                                            <a th:unless="${addon.isApproved()}" data-toggle="tooltip"
                                               data-placement="top" title="Change Approval Status" class="view"
                                               href=""
                                               th:href="@{'/addons/' + ${addon.getName()} + '/changeApprovalStatus'}">
                                                <i class="fa fa-thumbs-up"></i>
                                            </a>
                                            <a th:if="${addon.isApproved()}" data-toggle="tooltip" data-placement="top"
                                               title="Change Approval Status" class="delete"
                                               href=""
                                               th:href="@{'/addons/' + ${addon.getName()} + '/changeApprovalStatus'}">
                                                <i class="fa fa-thumbs-down"></i>
                                            </a>
                                        </li>


                                        <li class="list-inline-item">
                                            <a th:unless="${addon.isSelectedByAdmin()}" th:if="${addon.isApproved()}"
                                               class="view" data-toggle="tooltip"
                                               data-placement="top" title="Feature"
                                               href=""
                                               th:href="@{'/addons/' + ${addon.getName()} + '/changeFeaturedStatus'}">
                                                <i class="far fa-star"></i>
                                            </a>
                                            <a th:if="${addon.isSelectedByAdmin()} and ${addon.isApproved()}"
                                               class="delete" data-toggle="tooltip"
                                               data-placement="top" title="Unfeature"
                                               href=""
                                               th:href="@{'/addons/' + ${addon.getName()} + '/changeFeaturedStatus'}">
                                                <i class="fas fa-star"></i>
                                            </a>
                                        </li>


                                        <li class="list-inline-item">
                                            <a class="delete" data-toggle="tooltip"
                                               data-placement="top" title="Delete"
                                               href=""
                                               th:href="@{'/addons/' + ${addon.getName()} + '/delete'}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </li>


                                    </ul>
                                </div>
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </div>

                <!-- pagination -->
                <div class="pagination justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- pagination -->

            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</section>
<!--============================
=            Footer            =
=============================-->

<!-- Footer Bottom -->
<div th:replace="fragments/footer.html :: footer"></div>


</body>

</html>