<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Users</title>

    <!-- FAVICON -->
    <link href="../static/images/favicon.png" th:href="@{../images/favicon.png}" rel="shortcut icon">
    <!-- PLUGINS CSS STYLE -->
    <!--   <link href="../static/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css"
          th:href="@{../plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap-slider.css"
          th:href="@{../plugins/bootstrap/css/bootstrap-slider.css}">
    <!-- Font Awesome -->
    <link href="../static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          th:href="@{../plugins/font-awesome/css/font-awecome.min.css}">
    <!-- Owl Carousel -->
    <link href="../static/plugins/slick-carousel/slick/slick.css" rel="stylesheet"
          th:href="@{../plugins/slick-carousel/slick/slick.css}">
    <link href="../static/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet"
          th:href="@{../plugins/slick-carousel/slick/slick-theme.css}">
    <!-- Fancy Box -->
    <link href="../static/plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet"
          th:href="@{../plugins/fancybox/jquery.fancybox.pack.css}">
    <link href="../static/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet"
          th:href="@{../plugins/jquery-nice-select/css/nice-select.css}">
    <!-- CUSTOM CSS -->
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{../css/style.css}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}" rel="stylesheet"
          type="text/css"/>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
            th:href="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
            th:href="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->

</head>

<body class="body-wrapper">

<!--===============================
=            Navbar               =
================================-->

<div th:replace="fragments/navbar.html :: navbar-fragment"></div>

<!--==================================
=            User Profile            =
===================================-->
<section class="dashboard section">
    <!-- Container Start -->
    <div class="container">
        <!-- Row Start -->
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                <div class="sidebar">
                    <!-- User Widget -->
                    <div class="widget user-dashboard-profile">
                        <!-- User Image -->
                        <div class="profile-thumb">
                            <img src="https://icon-library.com/images/generic-user-icon/generic-user-icon-18.jpg"
                                 class="rounded-circle">
                        </div>
                        <!-- User Name -->
                        <h5 class="text-center" th:text="${session.currentUser}">Username</h5>
                        <p>Number of Addons: <a th:text="${numberOfAddonsForUser}">Number</a></p>
                        <a href="user.html" th:href="@{/users/{username}(username = ${session.currentUser})}"
                           class="btn btn-main-sm">Edit Profile</a>
                    </div>
                    <!-- Dashboard Links -->
                    <div th:replace="fragments/widget-user-dashboard.html :: widget-user-dashboard"></div>


                    <!-- delete-account modal -->
                    <!-- delete account popup modal start-->
                    <!-- Modal -->
                    <div class="modal fade" id="deleteaccount" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header border-bottom-0">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <img src="images/account/Account1.png" class="img-fluid mb-2" alt="">
                                    <h6 class="py-2">Are you sure you want to delete your account?</h6>
                                    <p>Do you really want to delete these records? This process cannot be undone.</p>
                                    <textarea name="message" id="" cols="40" rows="4" class="w-100 rounded"></textarea>
                                </div>
                                <div class="modal-footer border-top-0 mb-3 mx-5 justify-content-lg-between justify-content-center">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- delete account popup modal end-->
                    <!-- delete-account modal -->

                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">


                <!-- Recently Favorited -->


                <div class="widget dashboard-container my-adslist">
                    <h3 class="widget-header">All Users</h3>
                    <table class="table table-responsive product-dashboard-table">
                        <thead>
                        <tr>
                            <th>User Image</th>
                            <th>User Info</th>
                            <th class="text-center">User Type</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <!--SINGLE ADDON-->

                        <tr th:each="user : ${users}">

                            <td class="product-thumb">
                                <a th:href="@{'/users/' + ${user.getUsername()}}" href="#">
                                    <!--                                    <th:block th:switch="${addon.getIde().getName()}">-->
                                    <!--                                        <div th:case="'IntelliJ IDEa'">-->
                                    <img src="https://icon-library.com/images/generic-user-icon/generic-user-icon-18.jpg"
                                         class="rounded-circle" id="dashboard-users">
                                    <!--                                        </div>-->
                                    <!--                                        <div th:case="'Microsoft VS Code'">-->
                                    <!--                                            <span class="icon-icons8-visual-studio-logo grid-icon align-self-center"></span>-->
                                    <!--                                        </div>-->
                                    <!--                                        <div th:case="'Net Beans'">-->
                                    <!--                                            <span class="icon-icons8-netbeans grid-icon align-self-center"></span>-->
                                    <!--                                        </div>-->
                                    <!--                                        <div th:case="'Eclipse'">-->
                                    <!--                                            <span class="icon-icons8-java-eclipse grid-icon align-self-center"></span>-->
                                    <!--                                        </div>-->
                                    <!--                                        <div th:case="'XCode'">-->
                                    <!--                                            <span class="icon-icons8-xcode grid-icon align-self-center"></span>-->
                                    <!--                                        </div>-->
                                    <!--                                    </th:block>-->
                                </a>
                            </td>

                            <td class="product-details">

                                <span>
                    <strong>Username: </strong><a th:text="${user.getUsername()}">Username</a>
                  </span>
                                <!--                                <span class="add-id">-->
                                <!--                    <strong>Number of addons:</strong><a th:text="${}"></a>-->
                                <!--                  </span>-->

                                <span>
                    <strong>Email: </strong><a th:text="${user.getEmail()}">Email</a>
                  </span>

                                <span>
                    <strong>Status: </strong>

                                    <a th:if="${user.isBlocked()}" class="status active" id="inactive">Blocked</a>
                                    <a th:unless="${user.isBlocked()}" class="status active">Not Blocked</a>
                  </span>

                                <!--                                <span class="status active" th:if="${addon.isApproved()}"><strong>Status:</strong>Approved</span>-->
                                <!--                                <span class="status active" id="inactive" th:unless="${addon.isApproved()}"><strong>Status:</strong> Pending Approval</span>-->


                            </td>

                            <td class="product-category"><span class="categories" th:text="${user.getType().getName()}">User Type</span>
                            </td>


                            <td class="action" data-title="Action">
                                <div class="">
                                    <ul class="list-inline justify-content-center">


                                        <li class="list-inline-item">
                                            <a data-toggle="tooltip" data-placement="top" title="view" class="edit"
                                               href=""
                                               th:href="@{/users/{username}(username = ${user.getUsername()})}">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </li>


                                        <li class="list-inline-item">
                                            <a data-toggle="tooltip" data-placement="top" title="Change Admin Status"
                                               class="view"
                                               href=""
                                               th:href="@{'/users/' + ${user.getUsername()} + '/changeAdminStatus'}">
                                                <i class="fa fa-user-shield"></i>
                                            </a>
                                        </li>


                                        <li class="list-inline-item">
                                            <a th:unless="${user.isBlocked()}" class="delete" data-toggle="tooltip"
                                               data-placement="top" title="Block"
                                               href=""
                                               th:href="@{'/users/' + ${user.getUsername()} + '/changeBlockedStatus'}">
                                                <i class="fa fa-ban"></i>
                                            </a>
                                            <a th:if="${user.isBlocked()}" class="delete" data-toggle="tooltip"
                                               data-placement="top" title="Unblock"
                                               href=""
                                               th:href="@{'/users/' + ${user.getUsername()} + '/changeBlockedStatus'}">
                                                <i class="fa fa-check-circle"></i>
                                            </a>
                                        </li>


                                    </ul>
                                </div>
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </div>

                <!-- pagination -->
                <div class="pagination justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- pagination -->

            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</section>
<!--============================
=            Footer            =
=============================-->

<footer class="footer section section-sm">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
                <!-- About -->
                <div class="block about">
                    <!-- footer logo -->
                    <img src="../static/images/logo-footer.png" alt="">
                    <!-- description -->
                    <p class="alt-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 offset-lg-1 col-md-3">
                <div class="block">
                    <h4>Site Pages</h4>
                    <ul>
                        <li><a href="#">Boston</a></li>
                        <li><a href="#">How It works</a></li>
                        <li><a href="#">Deals & Coupons</a></li>
                        <li><a href="#">Articls & Tips</a></li>
                        <li><a href="terms-condition.html">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
            <!-- Link list -->
            <div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0">
                <div class="block">
                    <h4>Admin Pages</h4>
                    <ul>
                        <li><a href="addons.html">Category</a></li>
                        <li><a href="addon.html">Single Page</a></li>
                        <li><a href="store.html">Store Single</a></li>
                        <li><a href="single-blog.html">Single Post</a>
                        </li>
                        <li><a href="blog.html">Blog</a></li>


                    </ul>
                </div>
            </div>
            <!-- Promotion -->
            <div class="col-lg-4 col-md-7">
                <!-- App promotion -->
                <div class="block-2 app-promotion">
                    <div class="mobile d-flex">
                        <a href="">
                            <!-- Icon -->
                            <img src="../static/images/footer/phone-icon.png" alt="mobile-icon">
                        </a>
                        <p>Get the Dealsy Mobile App and Save more</p>
                    </div>
                    <div class="download-btn d-flex my-3">
                        <a href="#"><img src="../static/images/apps/google-play-store.png" class="img-fluid" alt=""></a>
                        <a href="#" class=" ml-3"><img src="../static/images/apps/apple-app-store.png" class="img-fluid"
                                                       alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</footer>
<!-- Footer Bottom -->
<div th:replace="fragments/footer.html :: footer"></div>


</body>

</html>