<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Addonis</title>

    <!-- FAVICON -->
    <link href="../static/images/favicon.png" th:href="@{../images/favicon.png}" rel="shortcut icon">
    <!-- PLUGINS CSS STYLE -->
    <!--   <link href="../static/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css"
          th:href="@{../plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap-slider.css"
          th:href="@{../plugins/bootstrap/css/bootstrap-slider.css}">
    <!-- Font Awesome -->
    <link href="../static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          th:href="@{../plugins/font-awesome/css/font-awecome.min.css}">
    <!-- Owl Carousel -->
    <link href="../static/plugins/slick-carousel/slick/slick.css" rel="stylesheet"
          th:href="@{../plugins/slick-carousel/slick/slick.css}">
    <link href="../static/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet"
          th:href="@{../plugins/slick-carousel/slick/slick-theme.css}">
    <!-- Fancy Box -->
    <link href="../static/plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet"
          th:href="@{../plugins/fancybox/jquery.fancybox.pack.css}">
    <link href="../static/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet"
          th:href="@{../plugins/jquery-nice-select/css/nice-select.css}">
    <!-- CUSTOM CSS -->
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{../css/style.css}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}" rel="stylesheet"
          type="text/css"/>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
            th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
            th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->

</head>

<body class="body-wrapper">
<!--===============================
=            Navbar               =
================================-->

<div th:replace="fragments/navbar.html :: navbar-fragment"></div>

<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Header Contetnt -->
                <div class="content-block">
                    <h1>Addonis - it's like Amazon <br> ...but for add-ons </h1>
                    <p>Also it's free <br> <br> Upload, download and share your favourite addons with the tech community
                    </p>
                    <div class="short-popular-category-list text-center">
                        <h2>Popular IDEs</h2>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a th:href="@{/ides/IntelliJIDEa}"><span class="icon-icons8-intellij-idea"></span>
                                    IntelliJ IDEA</a>
                            </li>
                            <li class="list-inline-item">
                                <a th:href="@{/ides/MicrosoftVSCode}"><span
                                        class="icon-icons8-visual-studio-logo"></span> Microsoft
                                    Visual Studio</a>
                            </li>
                            <li class="list-inline-item">
                                <a th:href="@{/ides/NetBeans}"><span class="icon-icons8-java-eclipse"></span>
                                    Eclipse</a>
                            </li>
                            <li class="list-inline-item">
                                <a th:href="@{/ides/Eclipse}"><span class="icon-icons8-xcode"></span> XCode</a>
                            </li>
                            <li class="list-inline-item">
                                <a th:href="@{/ides/XCode}"><span class="icon-icons8-netbeans"></span> NetBeans</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- Advance Search -->
                <div class="advance-search">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-md-12 align-content-center">
                                <form method="post" th:action="@{/addons/filter}" th:object="${filterAddonDto}">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <input type="text" class="form-control my-2 my-lg-1" id="inputtext4"
                                                   placeholder="Search addons by name" th:field="*{addonName}">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <select class="w-100 form-control mt-lg-1 mt-md-2" th:field="*{ideId}">
                                                <option th:value="-1">Filter by IDE</option>
                                                <option th:each="ide : ${ides}" th:text="${ide.getName()}"
                                                        th:value="${ide.getId()}"
                                                        value="1">Name
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <select class="w-100 form-control mt-lg-1 mt-md-2" th:field="*{sortParams}">
                                                <option th:value="default">Sort by...</option>
                                                <option th:each="sortParam : ${sortParams}" th:text="${sortParam}"
                                                        th:value="${sortParam}">Sort by...
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2 align-self-center">
                                            <button type="submit" class="btn btn-primary">Search Now</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Container End -->
</section>

<!--===================================
=            Client Slider            =
====================================-->


<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gray">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="section-title">
                    <li th:if="${newAddons != null}">
                        <h2><a th:href="@{/showNew}" class="col-md-12 indexSelected"><i class="fa fa-check-double"></i>New
                            Addons</a></h2>
                        <p>The most recently added addons.</p>
                    </li>
                    <li th:if="${newAddons == null}">
                        <h2><a th:href="@{/showNew}" class="col-md-12">New Addons</a></h2>
                    </li>
                </div>
            </div>


            <div class="col-md-4">
                <div class="section-title">
                    <li th:if="${featuredAddons != null}">
                        <h2><a th:href="@{/showNew}" class="col-md-12 indexSelected"><i class="fa fa-check-double"></i>Featured
                            Addons</a></h2>
                        <p>A fine selection, catered by our admins.</p>
                    </li>
                    <li th:if="${featuredAddons == null}">
                        <h2><a th:href="@{/}" class="col-md-12">Featured Addons</a></h2>
                    </li>
                </div>
            </div>


            <div class="col-md-4">
                <div class="section-title">
                    <li th:if="${popularAddons != null}">
                        <h2><a th:href="@{/showPopular}" class="col-md-12 indexSelected"><i
                                class="fa fa-check-double"></i>Popular Addons</a></h2>
                        <p>The most downloaded addons.</p>
                    </li>
                    <li th:if="${popularAddons == null}">
                        <h2><a th:href="@{/showPopular}" class="col-md-12">Popular Addons</a></h2>
                    </li>
                </div>
            </div>


        </div>


        <div class="row">

            <!-- offer 01 -->
            <div class="col-lg-12">
                <div class="trending-ads-slide">

                    <div class="col-md-12">
                        <!-- GRID -->

                        <div class="product-grid-list">
                            <div class="row mt-30">

                                <div th:unless="${featuredAddons == null}" th:each="addon : ${featuredAddons}"
                                     class="col-sm-12 col-lg-4 col-md-6">
                                    <!-- product card -->
                                    <div class="product-item bg-light">
                                        <div class="card">
                                            <div class="thumb-content">

                                                <!-- IDE IMAGE -->

                                                <a th:href="@{'/addons/' + ${addon.getNameForLink()} + '/downloadFile'}"
                                                   href="#" id="topMargin">
                                                    <th:block th:switch="${addon.getIde().getName()}">
                                                        <div th:case="'IntelliJ IDEa'">
                                                            <span class="icon-icons8-intellij-idea grid-icon align-self-center"></span>
                                                        </div>
                                                        <div th:case="'Microsoft VS Code'">
                                                            <span class="icon-icons8-visual-studio-logo grid-icon align-self-center"></span>
                                                        </div>
                                                        <div th:case="'Net Beans'">
                                                            <span class="icon-icons8-netbeans grid-icon align-self-center"></span>
                                                        </div>
                                                        <div th:case="'Eclipse'">
                                                            <span class="icon-icons8-java-eclipse grid-icon align-self-center"></span>
                                                        </div>
                                                        <div th:case="'XCode'">
                                                            <span class="icon-icons8-xcode grid-icon align-self-center"></span>
                                                        </div>
                                                    </th:block>
                                                </a>

                                            </div>


                                            <div class="card-body">
                                                <h4 class="card-title"><a href="#" th:text="${addon.getName()}"
                                                                          th:href="@{'/addons/' + ${addon.getNameForLink()}}">Addon
                                                    Name</a></h4>
                                                <ul class="list-inline product-meta">
                                                    <li class="list-inline-item">
                                                        <a href="#" th:text="${addon.getIde().getName()}"><i
                                                                class="fa fa-folder-open-o"></i>IDE</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#"><i class="downloads"
                                                                       th:text="${addon.getNumberOfDownloads()} + ' downloads'"></i></a>
                                                    </li>
                                                </ul>
                                                <p class="card-text" th:text="${addon.getDescription()}">Addon
                                                    Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div th:unless="${popularAddons == null}" th:each="addon : ${popularAddons}"
                                     class="col-sm-12 col-lg-4 col-md-6">
                                    <!-- product card -->
                                    <div class="product-item bg-light">
                                        <div class="card">
                                            <div class="thumb-content">

                                                <!-- IDE IMAGE -->

                                                <a th:href="@{'/addons/' + ${addon.getNameForLink()} + '/downloadFile'}"
                                                   href="#">
                                                    <th:block th:switch="${addon.getIde().getName()}">
                                                        <div th:case="'IntelliJ IDEa'">
                                                            <span class="icon-icons8-intellij-idea grid-icon align-self-center"></span>
                                                        </div>
                                                        <div th:case="'Microsoft VS Code'">
                                                            <span class="icon-icons8-visual-studio-logo grid-icon align-self-center"></span>
                                                        </div>
                                                        <div th:case="'Net Beans'">
                                                            <span class="icon-icons8-netbeans grid-icon align-self-center"></span>
                                                        </div>
                                                        <div th:case="'Eclipse'">
                                                            <span class="icon-icons8-java-eclipse grid-icon align-self-center"></span>
                                                        </div>
                                                        <div th:case="'XCode'">
                                                            <span class="icon-icons8-xcode grid-icon align-self-center"></span>
                                                        </div>
                                                    </th:block>
                                                </a>

                                            </div>


                                            <div class="card-body">
                                                <h4 class="card-title"><a href="#" th:text="${addon.getName()}"
                                                                          th:href="@{'/addons/' + ${addon.getNameForLink()}}">Addon
                                                    Name</a></h4>
                                                <ul class="list-inline product-meta">
                                                    <li class="list-inline-item">
                                                        <a href="#" th:text="${addon.getIde().getName()}"><i
                                                                class="fa fa-folder-open-o"></i>IDE</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#"><i class="downloads"
                                                                       th:text="${addon.getNumberOfDownloads()} + ' downloads'"></i></a>
                                                    </li>
                                                </ul>
                                                <p class="card-text" th:text="${addon.getDescription()}">Addon
                                                    Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div th:unless="${newAddons == null}" th:each="addon : ${newAddons}"
                                     class="col-sm-12 col-lg-4 col-md-6">
                                    <!-- product card -->
                                    <div class="product-item bg-light">
                                        <div class="card">
                                            <div class="thumb-content">

                                                <!-- IDE IMAGE -->

                                                <a th:href="@{'/addons/' + ${addon.getNameForLink()} + '/downloadFile'}"
                                                   href="#">
                                                    <th:block th:switch="${addon.getIde().getName()}">
                                                        <div th:case="'IntelliJ IDEa'">
                                                            <span class="icon-icons8-intellij-idea grid-icon align-self-center"></span>
                                                        </div>
                                                        <div th:case="'Microsoft VS Code'">
                                                            <span class="icon-icons8-visual-studio-logo grid-icon align-self-center"></span>
                                                        </div>
                                                        <div th:case="'Net Beans'">
                                                            <span class="icon-icons8-netbeans grid-icon align-self-center"></span>
                                                        </div>
                                                        <div th:case="'Eclipse'">
                                                            <span class="icon-icons8-java-eclipse grid-icon align-self-center"></span>
                                                        </div>
                                                        <div th:case="'XCode'">
                                                            <span class="icon-icons8-xcode grid-icon align-self-center"></span>
                                                        </div>
                                                    </th:block>
                                                </a>

                                            </div>


                                            <div class="card-body">
                                                <h4 class="card-title"><a href="#" th:text="${addon.getName()}"
                                                                          th:href="@{'/addons/' + ${addon.getNameForLink()}}">Addon
                                                    Name</a></h4>
                                                <ul class="list-inline product-meta">
                                                    <li class="list-inline-item">
                                                        <a href="#" th:text="${addon.getIde().getName()}"><i
                                                                class="fa fa-folder-open-o"></i>IDE</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#"><i class="downloads"
                                                                       th:text="${addon.getNumberOfDownloads()} + ' downloads'"></i></a>
                                                    </li>
                                                </ul>
                                                <p class="card-text" th:text="${addon.getDescription()}">Addon
                                                    Description</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-12 col-lg-4 col-md-6">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>
</section>


<!--==========================================
=            All Category Section            =
===========================================-->

<section class=" section">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section title -->
                <div class="section-title">
                    <h2>Supported IDEs</h2>
                    <p>A list of all the currently supported IDEs.</p>
                </div>
                <div class="row">


                    <!-- Category list -->
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6 " th:each="ide : ${ides}">
                        <th:block th:switch="${ide.getName()}">
                            <div class="category-block">
                                <div class="header">

                                    <div th:case="'IntelliJ IDEa'">
                                        <a th:href="@{/ides/IntelliJIDEa}"><span
                                                class="icon-icons8-intellij-idea grid-icon align-self-center"></span></a>
                                        <h4 th:text="${ide.getName()}">IDE name</h4>
                                        <ul class="category-list">
                                            <li>Total number of addons: <span
                                                    th:text="${totalNumberIntelliJ}">count</span></li>
                                            <li>Total number of downloads: <span th:text="${totalDownloadsIntelliJ}">count</span>
                                            </li>
                                        </ul>
                                    </div>


                                    <div th:case="'Microsoft VS Code'">
                                        <a th:href="@{/ides/MicrosoftVSCode}"><span
                                                class="icon-icons8-visual-studio-logo grid-icon align-self-center"></span></a>
                                        <h4 th:text="${ide.getName()}">IDE name</h4>
                                        <ul class="category-list">
                                            <li>Total number of addons: <span th:text="${totalNumberMVS}">count</span>
                                            </li>
                                            <li>Total number of downloads: <span
                                                    th:text="${totalDownloadsMVS}">count</span></li>
                                        </ul>
                                    </div>


                                    <div th:case="'Net Beans'">
                                        <a th:href="@{/ides/NetBeans}"><span
                                                class="icon-icons8-netbeans grid-icon align-self-center"></span></a>
                                        <h4 th:text="${ide.getName()}">IDE name</h4>
                                        <ul class="category-list">
                                            <li>Total number of addons: <span
                                                    th:text="${totalNumberNetBeans}">count</span></li>
                                            <li>Total number of downloads: <span th:text="${totalDownloadsNetBeans}">count</span>
                                            </li>
                                        </ul>
                                    </div>


                                    <div th:case="'Eclipse'">
                                        <a th:href="@{/ides/Eclipse}"><span
                                                class="icon-icons8-java-eclipse grid-icon align-self-center"></span></a>
                                        <h4 th:text="${ide.getName()}">IDE name</h4>
                                        <ul class="category-list">
                                            <li>Total number of addons: <span
                                                    th:text="${totalNumberEclipse}">count</span></li>
                                            <li>Total number of downloads: <span th:text="${totalDownloadsEclipse}">count</span>
                                            </li>
                                        </ul>
                                    </div>


                                    <div th:case="'XCode'">
                                        <a th:href="@{/ides/XCode}"><span
                                                class="icon-icons8-xcode grid-icon align-self-center"></span></a>
                                        <h4 th:text="${ide.getName()}">IDE name</h4>
                                        <ul class="category-list">
                                            <li>Total number of addons: <span th:text="${totalNumberXCode}">count</span>
                                            </li>
                                            <li>Total number of downloads: <span
                                                    th:text="${totalDownloadsXCode}">count</span></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </th:block>
                    </div>
                    <!-- /Category List -->


                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>


<!--============================
=            Footer            =
=============================-->

<!-- Footer Bottom -->
<div th:replace="fragments/footer.html :: footer"></div>

</body>

</html>



