<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classimax</title>

    <!-- FAVICON -->
    <link href="../static/images/favicon.png" th:href="@{../images/favicon.png}" rel="shortcut icon">
    <!-- PLUGINS CSS STYLE -->
    <!--   <link href="../static/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css"
          th:href="@{../plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap-slider.css"
          th:href="@{../plugins/bootstrap/css/bootstrap-slider.css}">
    <!-- Font Awesome -->
    <link href="../static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          th:href="@{../plugins/font-awesome/css/font-awecome.min.css}">
    <!-- Owl Carousel -->
    <link href="../static/plugins/slick-carousel/slick/slick.css" rel="stylesheet"
          th:href="@{../plugins/slick-carousel/slick/slick.css}">
    <link href="../static/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet"
          th:href="@{../plugins/slick-carousel/slick/slick-theme.css}">
    <!-- Fancy Box -->
    <link href="../static/plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet"
          th:href="@{../plugins/fancybox/jquery.fancybox.pack.css}">
    <link href="../static/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet"
          th:href="@{../plugins/jquery-nice-select/css/nice-select.css}">
    <!-- CUSTOM CSS -->
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{../css/style.css}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}" rel="stylesheet"
          type="text/css"/>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
            th:href="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
            th:href="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->

</head>

<body class="body-wrapper">


<!--===============================
=            Navbar               =
================================-->

<div th:replace="fragments/navbar.html :: navbar-fragment"></div>

<!--==================================
=            User Profile            =
===================================-->

<section class="user-profile section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
                <div class="sidebar">
                    <!-- User Widget -->
                    <div class="widget user">
                        <!-- User Image -->
                        <div class="image d-flex justify-content-center">
                            <img src="https://icon-library.com/images/generic-user-icon/generic-user-icon-18.jpg" alt=""
                                 class="">
                        </div>
                        <!-- Username -->
                        <h5 class="text-center" th:text="${user.getUsername()}">Username</h5>

                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
                <!-- Edit Profile Welcome Text -->
                <div class="widget welcome-message">
                    <h2>Edit profile</h2>
                </div>


                <!-- Edit Personal Info -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="widget personal-info">
                            <h3 class="widget-header user">Edit Personal Information</h3>
                            <form action="#" th:action="@{'/users/' + ${user.getUsername} + '/update'}"
                                  th:object="${updateUser}" method="post">


                                <!-- Phone Number -->
                                <div class="form-group">
                                    <label for="first-name">Phone Number</label>
                                    <input type="text" class="form-control" id="first-name" th:field="*{phoneNumber}"
                                           th:placeholder="${user.getPhoneNumber()}">
                                    <label class="error" th:errors="*{phoneNumber}">Phone number error
                                        placeholder</label>
                                </div>

                                <!-- File chooser -->
                                <!--                                <div class="form-group choose-file d-inline-flex">-->
                                <!--                                    <i class="fa fa-user text-center px-3"></i>-->
                                <!--                                    <input type="file" class="form-control-file mt-2 pt-1" id="input-file" name="files">-->
                                <!--                                </div>-->

                                <!-- Submit button -->
                                <button class="btn btn-transparent">Save My Changes</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- Change Password -->
                        <form action="#" th:action="@{'/users/' + ${user.getUsername} + '/update'}"
                              th:object="${updateUser}" method="post">
                            <div class="widget change-email">
                                <h3 class="widget-header user">Edit Email Address</h3>
                                <!-- Current Email -->
                                <div class="form-group">
                                    <label for="current-email">Current Email</label>
                                    <input type="email" class="form-control" id="current-email"
                                           th:field="*{currentEmail}">
                                    <label class="error" th:errors="*{currentEmail}">Current Email Error</label>
                                </div>


                                <!-- New email -->
                                <div class="form-group">
                                    <label for="new-email">New email</label>
                                    <input type="email" class="form-control" id="new-email" th:field="*{newEmail}">
                                    <label class="error" th:errors="*{newEmail}">New Email Error</label>
                                </div>


                                <!-- Submit Button -->
                                <button class="btn btn-transparent">Change Password</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-6">
                        <!-- Change Password -->
                        <form action="#" th:action="@{'/users/' + ${user.getUsername} + '/update'}"
                              th:object="${updateUser}" method="post">
                            <div class="widget change-password">
                                <h3 class="widget-header user">Edit Password</h3>
                                <!-- Current Password -->
                                <div class="form-group">
                                    <label for="current-password">Current Password</label>
                                    <input type="password" class="form-control" id="current-password"
                                           th:field="*{currentPassword}">
                                    <label class="error" th:errors="*{currentPassword}">Current Password Error</label>
                                </div>
                                <!-- New Password -->
                                <div class="form-group">
                                    <label for="new-password">New Password</label>
                                    <input type="password" class="form-control" id="new-password"
                                           th:field="*{newPassword}">
                                    <label class="error" th:errors="*{newPassword}">New Password Error</label>
                                </div>
                                <!-- Confirm New Password -->
                                <div class="form-group">
                                    <label for="confirm-password">Confirm New Password</label>
                                    <input type="password" class="form-control" id="confirm-password"
                                           th:field="*{newPasswordConfirm}">
                                    <label class="error" th:errors="*{newPasswordConfirm}">New Password Confirm
                                        Error</label>
                                </div>
                                <!-- Submit Button -->
                                <button class="btn btn-transparent">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--============================
=            Footer            =
=============================-->

<!-- Footer Bottom -->
<div th:replace="fragments/footer.html :: footer"></div>


</body>

</html>